<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SpongeBob Tweet Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
  </head>
  <body>
      <div class="content">
        <div class="sup">
          <img src="./static/assets/spongebob.png" alt="spongebob">
          <p class="tweet">{{sentence}}</p>
        </div>
      </div>
      <blockquote>{{ sentence }}</blockquote>
        <form action="/tweet" method="post">
          <input type="hidden" name="sentence" value="{{ sentence }}">
          <button type="submit">Tweet this</button>
        </form>
      <div>
        <a class="twitter-timeline" data-width="650" data-height="500" data-theme="dark" href="https://twitter.com/SpongeBobRaid">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
       </div>
  </body>
</html>
