<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SpongeBob Tweet Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css')}}">
  </head>
  <body>
      <div class="content">
        <div class="sup">
          <img src="./static/assets/spongebob.png" alt="spongebob">
          <p class="tweet">{{sentence}}</p>
        </div>
      </div>
      <div>
        <blockquote>{{ sentence }}</blockquote>
          <form action="/tweet" method="post">
            <input type="hidden" name="sentence" value="{{ sentence }}">
            <button type="submit">Tweet this</button>
          </form>
      </div>
  </body>
</html>
